/***************************
****************************
 Color Palette Defition
****************************
***************************/

$black-colar: #5B616A;
$lapiz-lazuli: #275DAD;
$wild-blue: #ABA9C3;
$wild-blue-hover: #1c3e6f;
$light-gray: #CED3DC;
$snow: #FCF7F8;
